
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <!-- FontAwesome Styles-->
    <link href="public/css/font-awesome.css" rel="stylesheet" />


<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- Morris Chart Styles-->
    <link href="public/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="public/css/custom-styles.css" rel="stylesheet" />

		<link href="public/css/style.css" rel="stylesheet" type="text/css">
		<link href="public/css/bootstrap.css" rel="stylesheet" type="text/css">


		<script src="bootstrap/js/bootstrap.js"></script>


<!-- Google Fonts-->
<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
	<!-- JS Scripts-->
	<!-- jQuery Js -->
  <script src="js/jquery-1.10.2.js"></script>
      <!-- Bootstrap Js -->
      <script src="js/bootstrap.min.js"></script>
      <!-- Custom Js -->
      <script src="js/custom-scripts.js"></script>
	<script src="http://code.jquery.com/jquery-2.1.4.min.js" charset="utf-8"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.0/handlebars.js"></script>
	<!--script src="/public/js/Employee.js" charset="utf-8"></script-->
	<script src="/public/js/fusioncharts_demo.js" charset="utf-8"></script>
	<script src="/public/js/fusioncharts.charts.js"></script>
	<script src="/public/js/fusioncharts.theme.zune.js"></script>
<script type="text/javascript" src="Project/fusioncharts/themes/fusioncharts.theme.fint.js"></script>
	<script src="/public/js/fusioncharts.widgets.js"></script>
	<script src="/public/js/fusioncharts.powercharts.js"></script>


<script>

// function Lifework(div1,div2,div3,div4,div5)
// {
//   d1 = document.getElementById(div1);
//   d2 = document.getElementById(div2);
//   d3 = document.getElementById(div3);
//   d4 = document.getElementById(div4);
//   d5 = document.getElementById(div5);
//
//   if(d2.style.display == "none")
//   {
//     d2.style.display = "block";
//     d1.style.display = "none";
//     d3.style.display = "none";
//     d4.style.display = "none";
//     d5.style.display = "none";
//   }
//   else {
//     d2.style.display == "initial";
//   }
//
// }
//
//
// function EmpSup(div1,div2,div3,div4,div5)
// {
//   d1 = document.getElementById(div1);
//   d2 = document.getElementById(div2);
//   d3 = document.getElementById(div3);
//   d4 = document.getElementById(div4);
//   d5 = document.getElementById(div5);
//
//   if(d3.style.display == "none" )
//   {
//      d3.style.display = "block";
//      d1.style.display = "none";
//      d2.style.display = "none";
//      d4.style.display = "none";
//      d5.style.display = "none";
//
//   }
//
//   else {
//     d3.style.display == "initial";
//   }
//
// }
//
//
// function EmpSat(div1,div2,div3,div4,div5)
// {
//   d1 = document.getElementById(div1);
//   d2 = document.getElementById(div2);
//   d3 = document.getElementById(div3);
//   d4 = document.getElementById(div4);
//   d5 = document.getElementById(div5);
//
//   if(d4.style.display == "none" )
//   {
//      d4.style.display = "block";
//      d1.style.display = "none";
//      d2.style.display = "none";
//      d3.style.display = "none";
//      d5.style.display = "none";
//
//   }
//
//   else {
//     d4.style.display == "initial";
//   }
//
// }
//
//
// function CareerGrowth(div1,div2,div3,div4,div5)
// {
//   d1 = document.getElementById(div1);
//   d2 = document.getElementById(div2);
//   d3 = document.getElementById(div3);
//   d4 = document.getElementById(div4);
//   d5 = document.getElementById(div5);
//
//   if(d5.style.display == "none" )
//   {
//      d5.style.display = "block";
//      d1.style.display = "none";
//      d2.style.display = "none";
//      d3.style.display = "none";
//      d4.style.display = "none";
//
//   }
//
//   else {
//     d5.style.display == "initial";
//   }
//
// }

$(document).ready(function() {

    $("#btn1").click(function() {
        $("#wl_doughnut-location").css("display", "none");
        $("#wl_pie_chart-location").css("display", "none");
        $("#wl_chart-location").css("display", "none");
        $("#wl_bar2d-location").css("display", "block");
    });

    $("#btn2").click(function() {
        $("#wl_bar2d-location").css("display", "none");
        $("#wl_pie_chart-location").css("display", "none");
        $("#wl_chart-location").css("display", "none");
        $("#wl_doughnut-location").css("display", "block");
    });

    $("#btn3").click(function() {
        $("#wl_doughnut-location").css("display", "none");
        $("#wl_bar2d-location").css("display", "none");
        $("#wl_chart-location").css("display", "none");
        $("#wl_pie_chart-location").css("display", "block");
    });

    $("#btn4").click(function() {
        $("#wl_doughnut-location").css("display", "none");
        $("#wl_pie_chart-location").css("display", "none");
        $("#wl_bar2d-location").css("display", "none");
        $("#wl_chart-location").css("display", "block");
    });



		$("#btnsat1").click(function() {
        $("#emp_sat_doughnut-location").css("display", "none");
        $("#emp_sat_pie_chart-location").css("display", "none");
        $("#emp_sat_chart-location").css("display", "none");
        $("#emp_sat_bar2d-location").css("display", "block");
    });

    $("#btnsat2").click(function() {
        $("#emp_sat_bar2d-location").css("display", "none");
        $("#emp_sat_pie_chart-location").css("display", "none");
        $("#emp_sat_chart-location").css("display", "none");
        $("#emp_sat_doughnut-location").css("display", "block");
    });

    $("#btnsat3").click(function() {
        $("#emp_sat_doughnut-location").css("display", "none");
        $("#emp_sat_bar2d-location").css("display", "none");
        $("#emp_sat_chart-location").css("display", "none");
        $("#emp_sat_pie_chart-location").css("display", "block");
    });

    $("#btnsat4").click(function() {
        $("#emp_sat_doughnut-location").css("display", "none");
        $("#emp_sat_pie_chart-location").css("display", "none");
        $("#emp_sat_bar2d-location").css("display", "none");
        $("#emp_sat_chart-location").css("display", "block");
    });



		$("#btnsup1").click(function() {
        $("#sup_doughnut-location").css("display", "none");
        $("#sup_pie_chart-location").css("display", "none");
        $("#sup_chart-location").css("display", "none");
        $("#sup_bar2d-location").css("display", "block");
    });

    $("#btnsup2").click(function() {
        $("#sup_bar2d-location").css("display", "none");
        $("#sup_pie_chart-location").css("display", "none");
        $("#sup_chart-location").css("display", "none");
        $("#sup_doughnut-location").css("display", "block");
    });

    $("#btnsup3").click(function() {
        $("#sup_doughnut-location").css("display", "none");
        $("#sup_bar2d-location").css("display", "none");
        $("#sup_chart-location").css("display", "none");
        $("#sup_pie_chart-location").css("display", "block");
    });

    $("#btnsup4").click(function() {
        $("#sup_doughnut-location").css("display", "none");
        $("#sup_pie_chart-location").css("display", "none");
        $("#sup_bar2d-location").css("display", "none");
        $("#sup_chart-location").css("display", "block");
    });


		$("#btncg1").click(function() {
        $("#career_doughnut-location").css("display", "none");
        $("#career_pie_chart-location").css("display", "none");
        $("#career_chart-location").css("display", "none");
        $("#career_bar2d-location").css("display", "block");
    });

    $("#btncg2").click(function() {
        $("#career_bar2d-location").css("display", "none");
        $("#career_pie_chart-location").css("display", "none");
        $("#career_chart-location").css("display", "none");
        $("#career_doughnut-location").css("display", "block");
    });

    $("#btncg3").click(function() {
        $("#career_doughnut-location").css("display", "none");
        $("#career_bar2d-location").css("display", "none");
        $("#career_chart-location").css("display", "none");
        $("#career_pie_chart-location").css("display", "block");
    });

    $("#btncg4").click(function() {
        $("#career_doughnut-location").css("display", "none");
        $("#career_pie_chart-location").css("display", "none");
        $("#career_bar2d-location").css("display", "none");
        $("#career_chart-location").css("display", "block");
    });


});


</script>



<style>
html,body{
	height: 100%;
}

#cover
{
	background: #222 url('public/img/1.jpg') center center no-repeat;
	background-size: cover;
	color: white;
	height : 100%;
	display: flex;
	text-align: center;
	align-items: center;
}

#cover-caption
{
	width: 100%;

}

.my-btn
{
	color: white;
	border: solid;
	width: 150px;
	border-radius: 10px;
	display: table-cell;
	font-size: 150%;
	text-decoration: none;
	border-width: 3px;
	padding: 10px;
}

.home-desc{
	padding-top: 20%;
	height: calc(100% - 100px);
	font-size: 150px;
	color: white;
	vertical-align: middle;
}

.fullpage{
	background-size: cover;
	color: white;
	height : 100%;
	display: flex;
	text-align: center;
	vertical-align: middle;
	align-items: center;
	padding: 10px;
}

</style>

<meta charset="utf-8">
<title>Analytix</title>

</head>

<body>

	<section id="cover">
		<div id="cover-caption">
			<div class="container-fluid">
					<div class="home-desc col-lg-12" style="padding-bottom:20px;">
						Analytix
					</div>
					<div>
						<h3>This web-application takes the survey

									 responses of around 400k Plus employees to generate graphical

									 representation of Employee-Engagement in the organization.
						</h3><br/><br/>
					</div>
					<div class="col-lg-12" style="padding-left:43%;"><a class="my-btn center-block" href="#lifework">Get Started</a></div>
			</div>
		</div>
	</section>

<div id="wrapper">

		<nav class="navbar navbar-default top-navbar" role="navigation">

			<div class="navbar-header" >

				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">

					<span class="sr-only">Toggle navigation</span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>

				</button>
			</div>


		</nav>
		<nav class="navbar navbar-inverse navbar-fixed-top" style="border-radius: 0px;">
  		<div class="container-fluid">
    		<div class="navbar-header">
      		<a class="navbar-brand" href="#cover">analytix</a>
    		</div>
    		<ul class="nav navbar-nav my-navbar">
      		<li><a href="#lifework">Life/Work</a></li>
      		<li><a href="#empsup">Employee/Supervisor</a></li>
      		<li><a href="#empsat">Employee-Satisfaction</a></li>
      		<li><a href="#career">Career-Growth</a></li>
    		</ul>
  		</div>
		</nav>


    <!-- LIFE/WORK SURVEY  -->

			<div class="jumbotron fullpage" >
				<div id="lifework" class=" container-fluid text-center">
					<section>
						<div  style="display:block; color:black;">
							<div class="row" >
								<div class="col-md-12" style="width:100%; height:100%;">
									<h1 class="page-header">
										Life/Work Balance Survey
									</h1>
								</div>
							</div>

							<div class="col-lg-12">
								<div class="btn-group" style="padding-top:12px;">
									<button type="button" class="btn btn-warning" id="btn1">Bar Chart</button>
									<button type="button" class="btn btn-warning" id="btn2">Donut Chart</button>
									<button type="button" class="btn btn-warning" id="btn3">Pie Chart</button>
									<button type="button" class="btn btn-warning" id="btn4">Column Chart</button>
								</div>
							</div>

							<div id="content" class="col-lg-12">
								<div id="wl_bar2d-location" style="display:block;">

								</div>
								<div id="wl_doughnut-location" style="display:block;">

								</div>
								<div id="wl_pie_chart-location" style="display:block;">

								</div>
								<div id="wl_chart-location" style="display:block;">

								</div>
							</div>
    				</div>
					</section>
				</div>
			</div>

			<!-- EMPLOYEE-SUPERVISOR SURVEY  -->

			<div class="jumbotron fullpage" >
				<div id="empsup" class=" container-fluid text-center">
					<section>
						<div  style="display:block; color:black;">

							<div class="row" >

								<div class="col-md-12" style="width:100%; height:100%;">

									<h1 class="page-header">
										Employee/Supervisor Relation Survey
									</h1>

								</div>

							</div>
							<div class="col-lg-12">
								<div class="btn-group" style="padding-top:12px;">
									<button type="button" class="btn btn-warning" id="btnsup1">Bar Chart</button>
									<button type="button" class="btn btn-warning" id="btnsup2">Donut Chart</button>
									<button type="button" class="btn btn-warning" id="btnsup3">Pie Chart</button>
									<button type="button" class="btn btn-warning" id="btnsup4">Column Chart</button>
								</div>
							</div>

							<div id="content-sup" class="col-lg-12">
								<div id="sup_bar2d-location" style="display:block;">

								</div>
								<div id="sup_doughnut-location" style="display:block;">

								</div>
								<div id="sup_pie_chart-location" style="display:block;">

								</div>
								<div id="sup_chart-location" style="display:block;">

								</div>
							</div>

				<!-- /. PAGE INNER  -->

						</div>
					</section>
				</div>
			</div>


						<!-- EMPLOYEE-SATISFACTION SURVEY  -->

			<div class="jumbotron fullpage" >
							<div id="empsat" class=" container-fluid text-center">
								<section>
									<div  style="display:block; color:black;">

										<div class="row" >

											<div class="col-md-12" style="width:100%; height:100%;">

												<h1 class="page-header">
													Employee Satisfaction Survey
												</h1>

											</div>

										</div>
										<div class="col-lg-12">
											<div class="btn-group" style="padding-top:12px;">
												<button type="button" class="btn btn-warning" id="btnsat1">Bar Chart</button>
												<button type="button" class="btn btn-warning" id="btnsat2">Donut Chart</button>
												<button type="button" class="btn btn-warning" id="btnsat3">Pie Chart</button>
												<button type="button" class="btn btn-warning" id="btnsat4">Column Chart</button>
											</div>
										</div>

										<div id="content-sup" class="col-lg-12">
											<div id="emp_sat_bar2d-location" style="display:block;">

											</div>
											<div id="emp_sat_doughnut-location" style="display:block;">

											</div>
											<div id="emp_sat_chart-location" style="display:block;">

											</div>
											<div id="emp_sat_pie_chart-location" style="display:block;">

											</div>
										</div>

							<!-- /. PAGE INNER  -->

									</div>
								</section>
							</div>
						</div>


						<div class="jumbotron fullpage" >
										<div id="career" class=" container-fluid text-center">
											<section>
												<div  style="display:block; color:black;">

													<div class="row" >

														<div class="col-md-12" style="width:100%; height:100%;">

															<h1 class="page-header">
																Career Growth Survey
															</h1>

														</div>

													</div>
													<div class="col-lg-12">
														<div class="btn-group" style="padding-top:12px;">
															<button type="button" class="btn btn-warning" id="btncg1">Bar Chart</button>
															<button type="button" class="btn btn-warning" id="btncg2">Donut Chart</button>
															<button type="button" class="btn btn-warning" id="btncg3">Pie Chart</button>
															<button type="button" class="btn btn-warning" id="btncg4">Column Chart</button>
														</div>
													</div>

													<div id="content-sup" class="col-lg-12">
														<div id="career_bar2d-location" style="display:block;">

														</div>
														<div id="career_doughnut-location" style="display:block;">

														</div>
														<div id="career_chart-location" style="display:block;">

														</div>
														<div id="career_pie_chart-location" style="display:block;">

														</div>
													</div>

										<!-- /. PAGE INNER  -->

												</div>
											</section>
										</div>
									</div>

    <!-- EMPLOYEE-SUPERVISOR SURVEY  -->

    <div id="empsup" style="display:none;">

      <div class="row" >

          <div class="col-md-12" style="width:100%; height:100%;">

              <h1 class="page-header">

                  Employee-Supervisor Survey

              </h1>

          </div>



          <div><br/><br/></div>

      </div>

      <!-- /. ROW  -->



      <div class="row">



        <div id="chart-location">

          <div>

          <script id="tabular-template" type="text/html">

              <h2>Tabular Data of Federal Employees</h2>

              <table class="table table-bordered">

                  <thead>

                  <tr>

                      <td>Graph</td>

                      \{{#each categories}} <td>\{{label}}</td> \{{/each }}

                  </tr>

                  </thead>

                  <tbody>

                  \{{#each dataset}}

                  <tr>

                      <td>\{{label}}</td>

                      <td>\{{value}}</td>

                  </tr>

                  \{{/each}}

                  </tbody>

              </table>

          </script>

          </div>

        </div>

      </div>

        <div class="col-lg-6 col-md-12" style="margin-right:3px; margin-bottom:3px; width:500px; height:500px;" id="sup_bar2d-location">



        </div>

				<div>

        <div class="col-lg-6 col-md-12" style="padding:0px; width:400px; height:500px;" id="sup_doughnut-location">





        </div>

			</div>



				<div class="col-lg-6 col-md-12" style="padding:0px; width:500px; height:500px;" id="sup_chart-location">





				</div>



        <div class="col-lg-6 col-md-12" style="padding:0px; width:400px; height:500px;" id="sup_pie_chart-location">





        </div>



        <!-- /. PAGE INNER  -->

    </div>


    <!-- /. PAGE WRAPPER  -->
</div>

</body>



</html>
