<!-- Filename: main.handlebars -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
    <!--<div class="container">-->
        <!--{{{body}}}-->
    <!--</div>-->
    <script src="http://code.jquery.com/jquery-2.1.4.min.js" charset="utf-8"></script>

    <!-- FontAwesome Styles-->
    <link href="public/css/font-awesome.css" rel="stylesheet" />

    <!-- Morris Chart Styles-->
    <link href="public/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="public/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.0/handlebars.js"></script>
    <script src="/public/js/Employee.js" charset="utf-8"></script>
    <script src="/public/js/fusioncharts_demo.js" charset="utf-8"></script>
    <script src="/public/js/fusioncharts.js"></script>
    <script src="/public/js/fusioncharts.charts.js"></script>
    <script src="/public/js/fusioncharts.theme.zune.js"></script>
    <script src="/public/js/fusioncharts.widgets.js"></script>
    <script src="/public/js/fusioncharts.powercharts.js"></script>

</body>
</html>
